.loader{
    margin:auto;
    border: 16px solid lightgray;
    border-top-color: orange;
    border-bottom-color: dodgerblue;
    height:200px;
    width:200px;
    border-radius: 50%;
    animation: spin 3s linear infinite;
    
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    33.3%{
        border-left-color: orange;
        border-top-color: lightgray;
    }
    66.6%{
        border-right-color: dodgerblue;
        border-bottom-color: lightgray;
        
    }
    100%{
        transform: rotate(360deg);
    }
}
